html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.hero {  
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/startup-hero-bg.jpg) no-repeat center center/cover;
    color: white;
    text-align: center;
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 200px;
}
.hero::before {
    content: "";
    background-image: url("img/startup-hero-bg.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: translateZ(0);
}
.navbar a {
    transition: transform 0.3s ease, filter 0.3s ease;
}
.navbar a:hover {
    transform: scale(1.5);
    filter: brightness(1.2);
}
.navbar-brand,
.navbar-nav li a {
    font-size: 24px;
    line-height: 36px;
    color: #ffffff !important;
    font-weight: 400;
    font-family: "Montserrat";
}
.navbar-brand {
    font-weight: 700 !important;
}
.navbar {
    margin-bottom: 100px;
}
.nav-item a:hover {
    transform: rotate(5deg);
}
.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    font-size: 48px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
}

.hero-content {
    padding: 60px;
}
.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}

.get-started {
    padding: 15px 30px;
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    transition: transform 0.3s ease, filter 0.3s ease;
    text-decoration: none;
    border-radius: 2px;
    background-color:transparent;
    border: 2px solid #ffffff;
}
.get-started:hover {
    border: 2px solid #777;
    transform: scaleX(1.2);
}
.call-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
}

.call-popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    position: relative;
    text-align: center;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.call-popup h2 {
    color: #555555;
    margin-bottom: 20px;
}

.call-popup form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.call-popup label {
    color: #555555;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 14px;
}

.call-popup input {
    
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.call-popup button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.call-popup button:hover {
    background-color: #45a049;
}
.captcha {
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
    color: #333; /* Темный цвет текста */
}

.drop-zone {
    width: 100px;
    height: 100px;
    border: 2px dashed #999;
    display: inline-block;
    margin-top: 10px;
    position: relative;
    background-color: #f8f8f8; /* Светлый фон */
    color: #555; /* Цвет текста */
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    top: 140px;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    cursor: grab;
    left: 140px;
}

#submitBtn {
    background-color: #999; 
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: not-allowed;
    transition: background 0.3s;
}

#submitBtn:not(:disabled) {
    background-color: #ff4d4d;
    cursor: pointer;
}

#submitBtn:not(:disabled):hover {
    background-color: #e60000;
}

img-work:hover {
    filter: brightness(#c0301c);

}
.table-recent-blog {
    width: 33% !important;
}
.work-item {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.work-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background: rgba(255, 0, 0, 0.5); 
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.img-work {
    display: block;
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.parent {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.parent-p-gen {
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}
.parent-p-text {
    font-size: 12px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto Slab";
    text-align: center;
}
.parent-a {
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-transform: uppercase;
    color: #c0301c;
    font-weight: 400;
    font-family: "Roboto Slab";
    text-align: center;
    text-decoration: none;
    background-color: #ffffff;
}
.work-item:hover::after {
    opacity: 1;
}

.work-item:hover .parent {
    z-index: 2;
    opacity: 1;
}

.work-item:hover .img-work {
    transform: scale(1.0);
}

.services {
    padding: 50px 0;
}
.services h2 {
    font-size: 20px;
    text-transform: uppercase;
    color: #555555;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}
.services .container p {
    font-size: 16px;
    color: #555555;
    font-weight: 400;
    font-family: "Roboto Slab";
    text-align: center;
}
.services .container h3 {
    font-size: 14px;
    text-transform: uppercase;
    color: #555555;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}
.service-item {
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}
.service-item img {
    margin: 10px
}
.about-us {
    background-color: #f8f8f8;
}
.about-us .container h2 {
    font-size: 20px;
    text-transform: uppercase;
    color: #555555;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}
.about-us .container p {
    font-size: 16px;
    color: #555555;
    font-weight: 400;
    font-family: "Roboto Slab";
    text-align: center;
}
.about-us .container figcaption {
    font-size: 14px;
    text-transform: uppercase;
    color: #555555;
    font-family: "Myriad Pro";
}

.about-workMan img {
    padding-bottom: 10px;
}
.about-workMan figure {
    transition: transform 0.3s ease, filter 0.3s ease;
}
.about-workMan figure:hover {
    filter: drop-shadow(0 0 46px rgba(204, 204, 223, .71));
    background-color: #fff;
    transition: 0.3s;
    transform: scale(1.1);
    transform: rotate(1deg);
    border-radius: 10px;
}
.work-list {
    gap: 15px;
    
}
.work-list a {
    font-weight: 400;
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    transition: color 0.3s ease-in-out;
}

.work-list a.active {
    font-weight: 400;
    color: red;
    font-weight: bold;
}
.w-80 {
    width: 80%;
}
.work-list li {
    list-style: none;
}
.work-list li a {   
    font-size: 16px;
    line-height: 24px;
    color: #555555;
    font-weight: 400;
    font-family: "Roboto Slab";
    text-align: center;
    text-decoration: none;
}
.last-works h2 {
    font-size: 20px;
    text-transform: uppercase;
    color: #555555;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}
.latest-hr {
    width: 5%;
    text-align: center;
    border: 1px solid #555555;
}
.main-paralax {
    background: url(img/Paralax.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;

}
.main-paralax::before {
    content: "";
    background-image: url("img/Paralax.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: translateZ(0);
}

.project-work {
    padding: 100px;
    
}
.project-work h2 {
    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto Slab";
    text-align: center;
    margin-bottom: 30px;
}
.project-work a {
    display: inline-grid;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
    font-family: "Roboto Slab";
    text-align: center;
    padding: 13px 28px;
    border-radius: 2px;
    background-color: transparent;
    border: 2px solid #ffffff;
    transition: transform 0.3s ease, filter 0.3s ease;

}
.button-hover:hover {
    transform: scale(1.1);
    transition: 0.5s;
}
.one-block-blog {
    justify-content: center;
}
.recent-blog-h2 {
    font-size: 20px;
    text-transform: uppercase;
    color: #555555;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}
.recent-blog-p {
    font-size: 16px;
    color: #555555;
    font-weight: 400;
    font-family: "Roboto Slab";
    text-align: center;
}
.recent-blog-post-h2 {
    font-size: 16px;
    text-transform: uppercase;
    color: #c0301c;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}
.recent-blog-post-p {
    font-size: 13px;
    color: #777777;
    font-weight: 400;
    font-family: "Roboto Slab";
}
.recent-blog-post-text {
    font-size: 14px;
    color: #555555;
    font-weight: 400;
    font-family: "Roboto Slab";
}
.recent-blog-post-a {
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #c0301c;
    font-weight: 700;
    text-decoration: none;
    font-family: "Roboto Slab";
}
.slider-footer {
    background-color: #f8f8f8;
}
.slider-footer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.clients-logo {
    padding-bottom: 50px;
}
.slider-footer-p {
    font-size: 18px;
    color: #555555;
    font-weight: 400;
    width: 50%;
    font-family: "Roboto Slab";
    text-align: center;
}
.send-message-div {
    display: flex;
    flex-direction: row;
    gap: 38px;
}
.input-email-div {
    font-size: 12px;
    text-transform: uppercase;
    color: #555555;
    font-family: "Myriad Pro";
    border: 1px solid #555555;
    width: 100%;
    padding: 10px 17px;
}
.input-email-div:focus {
    outline: none;
    border: 1px solid #c0301c;
}
.message-button {
    font-size: 12px;
    letter-spacing: 1px;
    background-color: #ffffff;
    text-transform: uppercase;
    color: #555555;
    font-weight: 400;
    font-family: "Roboto Slab";
    border: 1px solid #555555;
    padding: 10px 25px;
}
.text-message {
    font-size: 12px;
    color: #c0301c;
    font-weight: 400;
    font-family: "Roboto Slab";
}
.contact-info-p {
    font-size: 12px;
    color: #555555;
    font-weight: 400;
    font-family: "Roboto Slab";
}
.contact-info-hp {
    font-size: 14px;
    text-transform: uppercase;
    color: #555555;
    font-weight: 400;
    font-family: "Montserrat";
}
.touch {
    font-size: 20px;
    text-transform: uppercase;
    color: #555555;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}
.footer {
    background-color: #c0301c;
}
.footer hr {
    padding-bottom: 33px;
    width: 5% !important;
    color: #fff;
    border-top: 2px solid #fff;
}
.footer-p {
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto Slab";
}
@media screen and (min-width: 320px) {
    .hero-content h1 {
        font-size: 35px;
    }
    .last-works img {
        width: 90%;
    }
    .project-work {
        padding: 65px;
    }
}
@media screen and (min-width: 768px) {
    .hero-content h1 {
        font-size: 48px;
    }
    .project-work {
        padding: 100px;
    }
    .table-recent-blog {
        width: 35% !important;
    }
}
@media screen and (min-width: 768px) {
    .table-recent-blog {
        width: 44% !important;
    }
}
@media screen and (min-width: 1440px) {
    .table-recent-blog {
        width: 33% !important;
    }
}
